/* Select Plan */
.select-plan {
  margin-bottom: 1.5rem;
}

.plans {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;

}

.plan {
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 8px;
  padding: 1rem;
  width: 100%;
  cursor: pointer;
  transition: border-color 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  align-items: start;
}

.plan:hover {
  border-color: hsl(243, 100%, 62%);
}

.plan-icon {
  width: 54px;
  height: 54px;
  margin-bottom: 1rem;
}

.plan-details {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.2rem;
}

.plan-details h2 {
  font-size: 20px;
}

.plan-details p,
.plan-details h2 {
  margin: 0;
}

.plan-summary span {
  font-weight: 700;
  font-size: 20px;
  color: hsl(213, 96%, 18%);
}

.bonus {
  color: hsl(213, 96%, 18%);
  /* font-weight: 500; */
}

.selected {
  border: 1px solid hsl(243, 100%, 62%);
  background-color: hsl(218, 100%, 97%);
}

.plan-sequence {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
  background-color: hsl(231, 100%, 99%);
  padding: 1rem 2rem;
}

.plan-sequence span {
  font-weight: 500;
}

.slider-toggle {
  width: 50px;
  height: 25px;
  background-color: hsl(213, 96%, 18%);
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.active {
  color: hsl(213, 96%, 18%);
}

.slider-circle {
  width: 21px;
  height: 21px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.2s ease-in-out;
}

.slider-toggle.on .slider-circle {
  transform: translateX(25px);
}

.grey {
  color: hsl(231, 11%, 63%);
}