/* Steps */
.steps-list {
  list-style: none;
  padding: 2rem;
  padding-top: 4rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: left;
}

.steps-list li {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* cursor: pointer; */
}

.steps-list li p {
  margin: 0;

}

.step-number {
  font-weight: 600;
  color: hsl(231, 100%, 99%);
  border: 1px solid hsl(231, 100%, 99%);
  background-color: transparent;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-number.selected {
  background-color: hsl(206, 94%, 87%);
  border: none;
  color: hsl(213, 96%, 18%);
}

.step-indicator {
  font-size: 14px;
  letter-spacing: 2px;
  margin-top: 4px;
  display: block;
  font-weight: 600;
  color: hsl(231, 100%, 99%);
}