/* Success */
.success-message {
  text-align: center;
  /* padding: 5rem; */
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.success-img {
  margin-bottom: 1.5rem;
  height: 80px;
  width: 80px;
}

.success-title {
  color: hsl(213, 96%, 18%);
  margin-bottom: 1rem;
}

.success-detail {
  line-height: 1.5;
}