/* Summary */

.summary-container {
  padding: 2rem;
  border-radius: 12px;
  text-align: left;
}

.summary {
  background-color: hsl(231, 100%, 99%);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  border-radius: 8px;
}

.plan-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plan-summary h3 {
  margin: 0;
}

.add-ons-summary {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.add-on-summary-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: hsl(231, 11%, 63%);
}

.add-on-price-summary {
  font-weight: 500;
  color: hsl(213, 96%, 18%);
}

.total-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  color: hsl(231, 11%, 63%);
}

.total-price {
  color: hsl(243, 100%, 62%);
  font-weight: 700;
  /* font-size: 20px; */
}