/* Form Styles */
.input-field {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  color: hsl(213, 96%, 18%);
  font-family: 'Ubuntu', 'Inter', sans-serif;
  font-weight: 500;
}

.input-field:-webkit-autofill {
  -webkit-text-fill-color: hsl(213, 96%, 18%) !important;
  transition: background-color 9999s ease-in-out 0s;
}



.input-field::placeholder {
  color: hsl(231, 11%, 63%);
  font-weight: 400;
}

.input-field:focus {
  outline: 2px solid hsl(243, 100%, 62%);
}

.input-field.error {
  border: 1px solid red;
}

.error {
  color: hsl(354, 84%, 57%);
  font-size: 14px;
  margin: 0.2rem 0 0 0;
}