/* Form Styles */
.input-field[type="text"],
.input-field[type="email"],
.input-field[type="tel"] {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  color: hsl(213, 96%, 18%);
}

.input-field::placeholder,
.input-field[type="email"]::placeholder,
.input-field[type="tel"]::placeholder {
  color: hsl(231, 11%, 63%);
}

.input-field:focus,
.input-field:focus,
.input-field:focus {
  outline: 2px solid hsl(243, 100%, 62%);
}

.input-field.error {
  border: 1px solid red;
}

.error {
  color: hsl(354, 84%, 57%);
  font-size: 14px;
  margin: 0.2rem 0 0 0;
}