body {
  font-family: 'Ubuntu', 'Inter', sans-serif;
  font-size: 16px;
  background-color: hsl(231, 100%, 99%);
  margin: 0;
}

h1,
h2,
h3 {
  color: hsl(213, 96%, 18%);
}

h3 {
  margin-bottom: 2px;
}

h1 {
  margin: 0;
}

hr {
  border: none;
  border-top: 1px solid hsl(229, 24%, 87%);
  margin: 1rem 0;
}

p {
  color: hsl(231, 11%, 63%);
}

a {
  color: hsl(231, 11%, 63%);
}

a:hover,
a:active {
  color: hsl(243, 100%, 62%);
}

.empty {
  display: none;
}

.App {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3rem;
  background-color: hsl(0, 100%, 100%);
  min-height: 50%;
  box-sizing: border-box;
  border-radius: 16px;
  margin: 1rem auto;
  padding: 2rem;
  max-width: 1200px;

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  position: relative;
}

.section {
  background-color: hsl(0, 100%, 100%);
  padding: 2rem;
  border-radius: 12px;
  width: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.center {
  /* margin: auto 0; */
  padding: 2rem;
}

form {
  gap: 1.5rem;

}

label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  color: hsl(213, 96%, 18%);
}

input {
  margin-top: 0.4rem;
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

button {
  font-family: 'Ubuntu', 'Inter', sans-serif;
  /* width: 15%; */
  color: hsl(0, 100%, 100%);
  border: none;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50%;
  /* margin-top: 1.5rem; */

  /* transform: translateX(-50%); */
  width: 63%;
}

.next-button,
.submit-button {
  background-color: hsl(213, 96%, 18%);
  padding: 0.8rem 1.2rem;
  border-radius: 6px;
  position: absolute;
  bottom: 10%;
  right: 7%;
}

.confirm-button {
  padding: 0.8rem 1.2rem;
  border-radius: 6px;
  position: absolute;
  bottom: 10%;
  right: 7%;
}


.next-button:hover,
.next-button:active {
  background-color: hsl(243, 100%, 62%);
}

.back-button {
  background-color: transparent;
  color: hsl(231, 11%, 63%);
  border: none;
  position: absolute;
  bottom: 11%;
  right: 55%;
}

.back-button:hover,
.back-button:active {
  color: hsl(213, 96%, 18%);
}

.header {
  margin-bottom: 1.5rem;
}

.header h1,
.header p {
  margin-bottom: 10px;

}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.confirm-button {
  background-color: hsl(243, 100%, 62%);
}

.confirm-button:hover,
.confirm-button:active {
  background-color: hsl(228, 100%, 84%);
}


/* Mobile Responsiveness */
@media (max-width: 768px) {
  .App {
    grid-template-columns: 1fr;
    gap: 0rem;
    padding: 2.4rem 0;
    min-height: 100%;
    background-color: hsl(231, 100%, 99%);
    box-shadow: none;
    width: 100%;
    border-radius: 0;
    background-image: url('./assets/images/bg-sidebar-mobile.svg');
    height: 300px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin-bottom: 10rem;
    position: relative;
  }


  .aside-steps {
    height: 100px;
    width: 100%;
    border-radius: 0;
    background: none;
  }

  .section {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    /* background-color: hsl(231, 100%, 99%); */
    padding: 2rem;
    border-radius: 12px;
    position: relative;
  }

  .steps-list {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    height: 100%;
  }

  .steps-list li div {
    display: none;
  }

  .aside-steps {
    height: auto;
    width: 100%;
    border-radius: 16px 16px 0 0;
  }

  .center {
    padding: 1rem;
  }

  .next-button,
  .back-button,
  .confirm-button {
    position: static;
    /* width: 100%; */
    margin-top: 1rem;
    bottom: 0;
  }

  .submit-button {
    bottom: -20%;
  }

  .buttons {
    /* flex-direction: column; */
    /* gap: 1rem; */
    gap: 40%;
    width: auto;
    /* justify-content: space-between; */
    background-color: hsl(0, 100%, 100%);
    padding: 1.2rem 2.4rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    /* position: relative; */
    /* bottom: 0; */
  }
}

@media (max-width: 480px) {
  button {
    padding: 0.1rem 0rem;
  }

  .next-button,
  .back-button,
  .confirm-button,
  .submit-button {

    font-size: 1rem;
  }

  .steps-list {
    gap: 0.5rem;
    padding: 0.5rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.1rem;
  }


  .section {
    padding: 1.5rem;
  }

  .plans {
    flex-direction: column;
  }

  .plan {
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1rem;
  }

  .plan-icon {
    margin-bottom: 0;
  }


  .add-on-details-container {
    /* gap: 0; */
    justify-content: space-between;
  }

  .add-on-details h3,
  .add-on-details p {
    margin: 0;
  }

  .add-on-details p {
    font-size: 0.8rem;
  }

  .plan-summary span {
    font-size: 18px;
  }

  .total-price {
    font-size: 18px;
  }

  hr {
    border: none;
    border-top: 1px solid hsl(229, 24%, 87%);
    margin: 0;
  }
}

@media (max-width: 380px) {
  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1rem;
  }

  .add-on-details p {
    font-size: 0.8rem;
  }

  .bonus-add-on {
    font-size: .9rem;
  }

}