body {
  font-family: 'Ubuntu', 'Inter', sans-serif;
  font-size: 16px;
  background-color: hsl(231, 100%, 99%);
  margin: 0;
}

h1,
h2,
h3 {
  color: hsl(213, 96%, 18%);
}

h3 {
  margin-bottom: 2px;
}

h1 {
  margin: 0;
}

hr {
  border: none;
  border-top: 1px solid hsl(229, 24%, 87%);
  margin: 1rem 0;
}

p {
  color: hsl(231, 11%, 63%);
}

a {
  color: hsl(231, 11%, 63%);
}

a:hover,
a:active {
  color: hsl(243, 100%, 62%);
}

.empty {
  display: none;
}

.App {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3rem;
  background-color: hsl(0, 100%, 100%);
  min-height: 50%;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 16px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  position: relative;
}

.section {
  background-color: hsl(0, 100%, 100%);
  padding: 2rem;
  border-radius: 12px;
  width: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.center {
  /* margin: auto 0; */
  padding: 2rem;
}

form {
  gap: 1.5rem;

}

label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  color: hsl(213, 96%, 18%);
}

input {
  margin-top: 0.4rem;
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

button {
  font-family: 'Ubuntu', 'Inter', sans-serif;
  /* width: 15%; */
  color: hsl(0, 100%, 100%);
  border: none;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50%;
  /* margin-top: 1.5rem; */

  /* transform: translateX(-50%); */
  width: 63%;
}

.next-button,
.submit-button {
  background-color: hsl(213, 96%, 18%);
  padding: 0.8rem 1.2rem;
  border-radius: 6px;
  position: absolute;
  bottom: 10%;
  right: 7%;
}

.confirm-button {
  padding: 0.8rem 1.2rem;
  border-radius: 6px;
  position: absolute;
  bottom: 10%;
  right: 7%;
}


.next-button:hover,
.next-button:active {
  background-color: hsl(243, 100%, 62%);
}

.back-button {
  background-color: transparent;
  color: hsl(231, 11%, 63%);
  border: none;
  position: absolute;
  bottom: 11%;
  right: 55%;
}

.back-button:hover,
.back-button:active {
  color: hsl(213, 96%, 18%);
}

.header {
  margin-bottom: 1.5rem;
}

.header h1,
.header p {
  margin-bottom: 10px;

}

/* Aside */
.aside-steps {
  background-image: url('./assets/images/bg-sidebar-desktop.svg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  color: white;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
  border-radius: 16px;
  margin: 0;
  padding: 0;
}

/* Steps */
.steps-list {
  list-style: none;
  padding: 2rem;
  padding-top: 4rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: left;
}

.steps-list li {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* cursor: pointer; */
}

.steps-list li p {
  margin: 0;

}

.step-number {
  font-weight: 600;
  color: hsl(231, 100%, 99%);
  border: 1px solid hsl(231, 100%, 99%);
  background-color: transparent;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-number.selected {
  background-color: hsl(206, 94%, 87%);
  border: none;
  color: hsl(213, 96%, 18%);
}

.step-indicator {
  font-size: 14px;
  letter-spacing: 2px;
  margin-top: 4px;
  display: block;
  font-weight: 600;
  color: hsl(231, 100%, 99%);
}

/* Form Styles */
.input-field[type="text"],
.input-field[type="email"],
.input-field[type="tel"] {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  color: hsl(213, 96%, 18%);
}

.input-field::placeholder,
.input-field[type="email"]::placeholder,
.input-field[type="tel"]::placeholder {
  color: hsl(231, 11%, 63%);
}

.input-field:focus,
.input-field:focus,
.input-field:focus {
  outline: 2px solid hsl(243, 100%, 62%);
}

.input-field.error {
  border: 1px solid red;
}

.error {
  color: hsl(354, 84%, 57%);
  font-size: 14px;
  margin: 0.2rem 0 0 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Select Plan */
.select-plan {
  margin-bottom: 1.5rem;
}

.plans {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;

}

.plan {
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 8px;
  padding: 1rem;
  width: 100%;
  cursor: pointer;
  transition: border-color 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  align-items: start;
}

.plan:hover {
  border-color: hsl(243, 100%, 62%);
}

.plan-icon {
  width: 54px;
  height: 54px;
  margin-bottom: 1rem;
}

.plan-details {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.2rem;
}

.plan-details h2 {
  font-size: 20px;
}

.plan-details p,
.plan-details h2 {
  margin: 0;
}

.plan-summary span {
  font-weight: 700;
  font-size: 20px;
  color: hsl(213, 96%, 18%);
}

.bonus {
  color: hsl(213, 96%, 18%);
  /* font-weight: 500; */
}

.selected {
  border: 1px solid hsl(243, 100%, 62%);
  background-color: hsl(218, 100%, 97%);
}

.plan-sequence {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
  background-color: hsl(231, 100%, 99%);
  padding: 1rem 2rem;
}

.plan-sequence span {
  font-weight: 500;
}

.slider-toggle {
  width: 50px;
  height: 25px;
  background-color: hsl(213, 96%, 18%);
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.active {
  color: hsl(213, 96%, 18%);
}

.slider-circle {
  width: 21px;
  height: 21px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.2s ease-in-out;
}

.slider-toggle.on .slider-circle {
  transform: translateX(25px);
}

.grey {
  color: hsl(231, 11%, 63%);
}


/* Add-ons */
.add-ons {}

.add-on-details {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 1.2rem 0;
}

.add-on-details h3,
.add-on-details p {
  margin: 0.2rem 0;
}

.add-on-item {
  border: 1px solid hsl(229, 24%, 87%);
  display: flex;
  /* width: 100%; */
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  /* margin: 1.2rem 0; */
  padding: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}


.add-on-item.selected {
  border: 1px solid hsl(243, 100%, 62%);
  background-color: hsl(218, 100%, 97%);
}

.add-on-item:last-child {
  margin-left: 0;
}

.add-on-details-container {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  width: 100%;
}

.bonus-add-on {
  color: hsl(243, 100%, 62%);
  /* margin-left: auto; */
}

.add-on-item input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid hsl(229, 24%, 87%);
  border-radius: 6px;
  background-color: #fff;
  flex-shrink: 0;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  position: relative;
}

.add-on-item.selected .custom-checkbox {
  background-color: hsl(243, 100%, 62%);
  border-color: hsl(243, 100%, 62%);
}

.custom-checkbox::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}

.add-on-item.selected .custom-checkbox::after {
  opacity: 1;
}

/* Summary */

.summary-container {
  padding: 2rem;
  border-radius: 12px;
  text-align: left;
}

.summary {
  background-color: hsl(231, 100%, 99%);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  border-radius: 8px;
}

.plan-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plan-summary h3 {
  margin: 0;
}

.add-ons-summary {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.add-on-summary-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: hsl(231, 11%, 63%);
}

.add-on-price-summary {
  font-weight: 500;
  color: hsl(213, 96%, 18%);
}

.total-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  color: hsl(231, 11%, 63%);
}

.total-price {
  color: hsl(243, 100%, 62%);
  font-weight: 700;
  /* font-size: 20px; */
}

.confirm-button {
  background-color: hsl(243, 100%, 62%);
}

.confirm-button:hover,
.confirm-button:active {
  background-color: hsl(228, 100%, 84%);
}

/* Success */
.success-message {
  text-align: center;
  /* padding: 5rem; */
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.success-img {
  margin-bottom: 1.5rem;
  height: 80px;
  width: 80px;
}

.success-title {
  color: hsl(213, 96%, 18%);
  margin-bottom: 1rem;
}

.success-detail {
  line-height: 1.5;
}







@media (max-width: 768px) {
  .App {
    grid-template-columns: 1fr;
    gap: 0rem;
    padding: 2.4rem 0;
    min-height: 100%;
    background-color: hsl(231, 100%, 99%);
    box-shadow: none;
    width: 100%;
    border-radius: 0;
    background-image: url('./assets/images/bg-sidebar-mobile.svg');
    height: 300px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin-bottom: 10rem;
    position: relative;
  }


  .aside-steps {
    height: 100px;
    width: 100%;
    background: none;
    border-radius: 0;
  }

  .section {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    /* background-color: hsl(231, 100%, 99%); */
    padding: 2rem;
    border-radius: 12px;
    position: relative;
  }

  .steps-list {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    height: 100%;
  }

  .steps-list li div {
    display: none;
  }

  .aside-steps {
    height: auto;
    width: 100%;
    border-radius: 16px 16px 0 0;
  }

  .center {
    padding: 1rem;
  }

  .next-button,
  .back-button,
  .confirm-button {
    position: static;
    /* width: 100%; */
    margin-top: 1rem;
    bottom: 0;
  }

  .submit-button {
    bottom: -20%;
  }

  .buttons {
    /* flex-direction: column; */
    /* gap: 1rem; */
    gap: 40%;
    width: auto;
    /* justify-content: space-between; */
    background-color: hsl(0, 100%, 100%);
    padding: 1.2rem 2.4rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    /* position: relative; */
    /* bottom: 0; */
  }
}

@media (max-width: 480px) {
  button {
    padding: 0.1rem 0rem;
  }

  .next-button,
  .back-button,
  .confirm-button,
  .submit-button {

    font-size: 1rem;
  }

  .steps-list {
    gap: 0.5rem;
    padding: 0.5rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.1rem;
  }


  .section {
    padding: 1.5rem;
  }

  .plans {
    flex-direction: column;
  }

  .plan {
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1rem;
  }

  .plan-icon {
    margin-bottom: 0;
  }

  .add-on-item {

    /* gap: .5rem; */
  }

  .add-on-details-container {
    /* gap: 0; */
    justify-content: space-between;
  }

  .add-on-details h3,
  .add-on-details p {
    margin: 0;
  }

  .add-on-details p {
    font-size: 0.8rem;
  }

  .plan-summary span {
    font-size: 18px;
  }

  .total-price {
    font-size: 18px;
  }

  hr {
    border: none;
    border-top: 1px solid hsl(229, 24%, 87%);
    margin: 0;
  }
}

@media (max-width: 380px) {
  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1rem;
  }

  .add-on-details p {
    font-size: 0.8rem;
  }

  .bonus-add-on {
    font-size: .9rem;
  }

}





/* 
## Colors ### Primary - Blue 950: hsl(213, 96%, 18%) - Purple 600: hsl(243, 100%, 62%) - Blue 300: hsl(228, 100%, 84%) - Blue 200: hsl(206, 94%, 87%) - Red 500: hsl(354, 84%, 57%) ### Neutral - Grey 500: hsl(231, 11%, 63%) - Purple 200: hsl(229, 24%, 87%) - Blue 100: hsl(218, 100%, 97%) - Blue 50: hsl(231, 100%, 99%) - White: hsl(0, 100%, 100%) ## Typography ### Body Copy - Font size (paragraph): 16px ### Font - Family: [Ubuntu](https: //fonts.google.com/specimen/Ubuntu)
  - Weights: 400, 500, 700 */